@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* ---------------------- Root Variables ---------------------- */
:root {
    --primary-color: ;
    --tertiary-color: #c4c4c4;
    --bg: #111111;
    --box-bg: #232323;
    --offcanvas-bg: #222222;   
    --font-bold: 500;
    --font-medium: 400;
    --font-light: 300;
}

/* ---------------------- Font ---------------------- */
@font-face {
    font-family: Helvetica;
    src: url('assets/fonts/HelveticaNeueBlack.otf');
}

/* ---------------------- Global Styles ---------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;    
    font-family: Helvetica, sans-serif;
}

html {
    overscroll-behavior: none;
}

body {
    background: var(--bg);   
    height: 100%;
    width: 100%;
}

::webkit-scrollbar {
    display: none;
}

section {
    width: 100vw;
    position: relative;
    padding-top: 7vh;
}

p {
    color: var(--tertiary-color);
    font-weight: var(--font-light);
    font-size: 2rem;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .2s ease;
}

/* ---------------------- Custom Cursor ---------------------- */
#cursor {
    height: 20px;
    width: 20px;
    background: var(--tertiary-color);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
}

/* ---------------------- Header ---------------------- */
.hamburger-menu {
    border: none;
    color: white;
}

.hamburger-menu:hover,
.navbar-toggler:focus,
.btn-close:hover,
.btn-close:focus {
    box-shadow: none;
}

nav {
    min-height: 5vh;
    position: relative;
    background: var(--bg);
    align-items: center;
    transition: box-shadow 0.3s;
}

/* ---------------------- Offcanvas ---------------------- */
.offcanvas {
    background: var(--offcanvas-bg);
}

.offcanvas-body div ul li {
    list-style: none;
}

.offcanvas-body div ul li a {
    color: var(--tertiary-color);
    font-weight: var(--font-light);
    cursor: pointer;
    font-size: 1.2rem;
    transition: .2s ease;
}

.offcanvas-body div ul li a i {
    color: var(--tertiary-color);
}

.offcanvas-body div div:first-child ul li a {
    font-size: 1.3rem;
}

.offcanvas-body ul li a:hover,
.offcanvas-body ul li a:hover i {
    color: white;
}

.offcanvas-body div ul li {
    margin-top: 1.2rem;
}

.offcanvas-body div ul li a i {
    margin-right: 1.5%;
}

#offcanvasRight {
    width: 400px;
}

/* ---------------------- Line ---------------------- */
.line {
    height: 1px;
    width: 90%;
    margin: auto;
    background: #2e2e2e;
    border-radius: 50%;
    content: "";
    display: flex;
    position: relative;
}

/* ---------------------- Hero Section ---------------------- */
.hero-paragraph-text,
.hero-paragraph-text span {
    font-size: 3rem;
    line-height: 1.2;    
    font-weight: var(--font-medium);
    text-align:  center;
    margin: auto;
    width: 90%;
    text-transform: capitalize;
}


/* ---------------------- Portfolio Section ---------------------- */
.text-container {
    overflow: hidden;
}

.reveal-text {
    font-size: 8rem;
    line-height: calc(100% - 5px);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    color: #fff;   
    text-align: center;
}

.heading {
    width: 90%;
    margin: auto;
    padding: 1px 0 0 0;
}

#artwork-container {
    width: 90%;
    margin-top: 3rem;
}

.artwork-tittle {
    padding: 1rem 0 .5rem 0;
    font-size: 4rem;
}

.artwork {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;   
    margin: 3% 0;
    overflow: hidden;
}

.featured-artworks {
    width: 60%;
}

.artwork:nth-child(3) .featured-artworks {
    margin-left: 30%;
}

.artwork:nth-child(3) {
    text-align: right;
}

.displayWork{
    width: 90%;
}

.displayWork div img {
    border-radius: 5px;
}

/* ---------------------- Skeleton Loading ---------------------- */
.post-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--offcanvas-bg);
    aspect-ratio: 3/4;
}

.shimmer {
    position: relative;
    overflow: hidden;
}

.shimmer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-90deg, transparent 8%, rgb(65 65 65 / 28%) 18%, transparent 33%);
    background-size: 200%;
    background-attachment: fixed;
    animation: placeHolderShimmer 2s ease-in-out infinite;
}

@keyframes placeHolderShimmer {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}

/* ---------------------- Modal ---------------------- */
.modal {
    background: var(--bg);
}

.modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
}

.modal-body {
    padding: 0 .5%;
}

#modal-close-btn,
#modal-cloe-btn-2 {
    position: absolute;
    top: 0;
    right: 5%;
}

/* ---------------------- Form ---------------------- */
form {
    width: 70%;
    margin: auto;
}

input,
textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 1% 2%;
    cursor: pointer;    
    min-height: 5vh;
    margin: 5% auto;
    width: 100%;
    font-size: 2rem;
    font-weight: var(--font-light);
    outline: none;
}

input:focus,
textarea:focus {
    background: transparent;
}

input::placeholder,
textarea::placeholder {
    color: var(--tertiary-color);
}

button {
    border: 1px solid white;
    padding: 2% 4%;
    border-radius: 50px;
    margin-top: 2rem;
    background: transparent;
}

/* ---------------------- Toast ---------------------- */
.toast,
.toast-header {
    background: var(--offcanvas-bg);
    backface-visibility: 10%;
}

.toast-header {
    border-bottom: 1px solid var(--tertiary-color);
}

.toast-body {
    font-weight: var(--font-light);
}

.me-auto {
    color: white;
}

.btn-close {
    border: none;
}

small {
    color: var(--tertiary-color);
}



/* ---------------------- Responsive ---------------------- */
@media screen and (max-width:1024px){    
    .hero-paragraph-text,
    .hero-paragraph-text span{
        font-size: 2rem;
    }
    
    p{
        font-size: 1rem;
    }
    
    .offcanvas-body div ul li a,
    .cards_el-p{
        font-size: 1rem;
    }
    
    .offcanvas-body div div:first-child ul li a,
    input,
    textarea {
        font-size: 1.1rem;
    }    

    .reveal-text,
    .artwork-tittle{
        font-size: 4rem;
    }
    
    .hero-paragraph-text,
    .hero-paragraph-text span{
        font-size: 1.8rem;
        text-align: center;
   }
   
   
}

@media screen and (max-width:768px){
    
    
    #cursor {
        display: none;
    }
    
    
    #offcanvasRight{
        width: 340px;
    }
    
    .reveal-text,
    .artwork-tittle{
        font-size: 3rem;
    }

    .hero-paragraph-text,
    .hero-paragraph-text span{
        text-align: left;
   }
    
    #artwork-container{
        width: 90%;
    }
    
    .artwork {
        flex-direction: column;
    }
    
    .featured-artworks{width: 100%;}
    
    .artwork:nth-child(3) .featured-artworks{
        margin-left: 0;
    }
    .artwork:nth-child(3) {
        text-align:  left;
    }
    
    
    
    form {
        width: 90%;
    }
    
    input,
    textarea {
        font-size: 1.1rem;
    }    
  }
