@font-face {
    font-family: 'portfoio-font';
    src: url('/fonts/Jacksilver.ttf')
}

@font-face{
    font-family: 'heading-font';
    src: url('/fonts/SFPRODISPLAYMEDIUM.OTF');
}

html{
    scroll-behavior: smooth;
}

.contact {
    font-family: 'portfoio-font', sans-serif;
}

h3{
    font-family: 'heading-font', sans-serif;
}

.text-stroke-1 {
    -webkit-text-stroke: .5px #BDBDBD; /* A solid color stroke */
    text-stroke: .5px #BDBDBD; /* For non-webkit browsers */
}


