@font-face {
    font-family: 'portfoio-font';
    src: url('/assets/fonts/Jacksilver.ttf')
}

@font-face{
    font-family: 'heading-font';
    src: url('/assets/fonts/SFPRODISPLAYMEDIUM.OTF');
}

html{
    scroll-behavior: smooth;
}

.logo {
    font-family: 'portfoio-font', sans-serif;
}

h3{
    font-family: 'heading-font', sans-serif;
}

.text-stroke-1 {
    -webkit-text-stroke: 1px #BDBDBD; /* A solid color stroke */
    text-stroke: 1px #BDBDBD; /* For non-webkit browsers */
}


